
.container{
    padding: 0 6px;
    border: 1px solid black;
    width: 380px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 3px;
    height: 120vh;
    line-height: 2px;
}

.one{
    font-weight: bold;
    font-size: 13px;
    width: 100%;
    text-align: right;
}
.two{
    font-weight: bold;
    font-size: 13px;
    display: flex;
    width: 100%;
    justify-content: start;
    justify-content:  space-between;
}
.two1{
    flex-basis: 60%;
}
.two2{
    flex-basis: 15%;
    text-align: right;
}
.three{
    display: flex;
    width: 100%;
    justify-content: start;
    justify-content:  space-between;
    font-size: 16px;
}
.three1{
    flex-basis: 60%;
    font-weight: bold;
}
.three2{
    flex-basis: 15%;
    text-align: right;
}
.four{
    display: flex;
    width: 100%;
    justify-content: end;
    font-size: 16px;
}
.four1{
    border-top: 2px solid gray;
    flex-basis: 60%;
}
.four2{
    border-top: 2px solid gray;
    flex-basis: 15%;
    text-align: end;
}
.four3{
    border-top: 2px solid gray;
    flex-basis: 20%;
    text-align: right;
}
.five{
    display: flex;
    width: 100%;
    justify-content:start;
    justify-content: space-between;
    font-size: 16px;
}
.five1{
    flex-basis: 60%;
    font-weight: bold;
}
.five2{
    flex-basis: 15%;
    text-align: right;
    font-weight: bold;
}
.six{
    display: flex;
    width: 100%;
    justify-content: end;
    font-size: 16px;
}
.six1{
    border-top: 2px solid gray;
    flex-basis: 60%;
}
.six2{
    border-top: 2px solid gray;
    flex-basis: 15%;
    text-align: end;
    font-weight: bold;
}
.six3{
    border-top: 2px solid gray;
    flex-basis: 20%;
    text-align: right;
    font-weight: bold;
}
.seven{
    display: flex;
    width: 100%;
    justify-content:start;
    justify-content: space-between;
    font-size: 16px;
}
.seven1{
    flex-basis: 60%;
}
.seven2{
    flex-basis: 15%;
    text-align: right;
}
.text{
    padding: 0;
    font-size: 13px;
    font-weight: bold;
    line-height: 15px;
}
.eight{
    font-weight: bold;
    font-size: 13px;
    display: flex;
    width: 100%;
    justify-content: start;
}
.eight1{
    flex-basis: 20%;
    text-align: left;
}
.eight2{
    flex-basis: 40%;
}
.nine{
    font-weight: bold;
    font-size: 13px;
    display: flex;
    width: 100%;
    justify-content:start; 
}
.nine1{
    flex-basis: 20%;
    text-align: left;  
}
.nine2{
    flex-basis: 40%;
    text-align: left;
}
.nine3{
    flex-basis: 40%;
    text-align: center;
}
.table{
    line-height: 1px;
    margin: 0;
    padding: 0;
}
.lastflex{
    font-weight: bold;
    font-size: 13px;
    display: flex;
    width: 100%;
    justify-content:left;
}
.lastflex1{
    flex-basis: 30%;
    text-align: right;
}
.lastflex2{
    flex-basis: 30%;
    text-align: center;
}
.lastflex3{
    flex-basis: 30%;
    text-align: left;
}
