/* Top Container */
.mcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 400px;
    height: 900px;
    padding: 10px;
    margin: 0 auto;
}

/* Header block */
.topblock{
    display:flex;
    width: 100%;
    align-self: flex-start;
    flex-flow: column;
    justify-content: flex-start;
    border-bottom: 10px solid black;
}
/* first table */
.secondblock {
    display: flex;
    width: 95%;
    align-self: flex-start;
    margin: 5px;
    padding: 5px;
    flex-direction: row;
    border-bottom: 7px solid black;
    border-width: 100%;
}

p, h1 {
    margin: 0;
}
/* First Coulmn all 3 tables  */
.fstline, .tbl1 ,.thbl1{
    display: flex;
    flex-direction: column;
    flex: 8;
    justify-content: flex-end;
}
/* underline first row first table */
.f1t, .t1t,.th1t{
    display: flex;
    border-bottom: 2px solid black;

}
/* first Table third line first column */
.f3d {
    margin-left: 17px;
    border-top: 1px solid black;
}
/* first Table third line second and third column */
.t3d,.th3d{
    border-top: 1px solid black;
    width: 100%;
}

.sndline {
    flex-direction: column;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;   
    text-align: right; 
}
/* ,.thbl2 */
.tbl2 {
    flex-direction: column;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;   
    text-align: right; 
}
/* ,.thbl3 */
.trdline,.thbl3{
    flex-direction: column;
    flex: 2;
    align-items: flex-end;
    text-align: right;
}

.tbl3 {
    flex-direction: column;
    flex: 2;
    align-items: flex-end;
    text-align: right;
}

.dval{
    display: flex;
    align-self:  flex-end;
}

.thirdblock {
    display: flex;
    width: 95%;
    align-self: flex-start;
    margin: 5px;
    padding: 5px;
    flex-direction: row;
    border-bottom: 10px solid black;
    border-width: 100%;
}

.tbl1, .thbl {
    display: flex;
    flex-direction: column;
    flex: 8;
    justify-content: flex-end;
}

.tbl1a, .tbl2a, .tbl3a,.tbl1d, .tbl2d, .tbl3d,.tbl1f,.tbl2f,.tbl3f {
    border-top: 2px solid black;
    width: 100%;
}

.tbl1b, .tbl1c, .tbl1g, .tbl1h{
    border-top: 1px solid black;
    width: 100%;
    margin-left: 15px;
}

.tbl2b, .tbl2c,.tbl3b, .tbl3c,.tbl1e,.tbl2e,.tbl3e, .tbl2g, .tbl2h, .tbl3g, .tbl3h,  .tbl1i, .tbl2i, .tbl3i, .thbl1b, .thbl2b, .thbl3b, .thbl1c, .thbl2c, .thbl3c, .thbl1d, .thbl2d, .thbl3d{
    border-top: 1px solid black;
    width: 100%;
}

.fourthblock {
    display: flex;
    width: 95%;
    align-self: flex-start;
    margin: 5px;
    padding: 5px;
    flex-direction: row;
    border-bottom: 2px solid black;
    border-width: 100%;
}
.fifthblock {
    display: flex;
    width: 95%;
    align-self: flex-start;
    margin: 5px;
    padding: 5px;
    flex-direction: row;
}
.sixthblock {
    display: flex;
    width: 95%;
    align-self: flex-start;
    margin: 5px;
    padding: 5px;
    flex-direction: row;
    border-bottom: 1px solid black;
    border-width: 100%;
}

.yab1b, .yab2b, .yab3b, .yab4b {
    border-top: 1px solid black;
    width: 100%;
}

.yab1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 3;
}

.yab2{
    flex-direction: column;
    justify-content: flex-end;
    flex: 2;
}

.yab3,.yab4{
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
}

.yab1c, .yab1g {
    margin-left: 15px;
}

.calpg {
    /* display: flex; */
    width: 95%;
    align-self: flex-start;
    margin: 5px;
    padding: 5px;
    flex-direction: row;
}

.FCP{
   display: flex;
   align-self: center;
   justify-content: space-around;
}