.mcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 350px;
    height: 900px;
    /* background-color: aqua; */
    padding: 10px;
    margin: 0 auto;
}


.topblock{
    display:flex;
    width: 100%;
    align-self: flex-start;
    flex-flow: column;
    justify-content: flex-start;
    border-bottom: 10px solid black;
    /* border-width: 9%; */
      
}

.secondblock {
    display: flex;
    width: 95%;
    align-self: flex-start;
    margin: 5px;
    padding: 5px;
    flex-direction: row;
    border-bottom: 7px solid black;
    border-width: 100%;

}
p {
    margin: 0;
}
.fstline {
    display: flex;
    flex-direction: column;
    flex: 8;
    justify-content: flex-end;
}

.f1t, .t1t,.th1t{
    display: flex;
    border-bottom: 2px solid black;

}

.f3d {
    margin-left: 17px;
    border-top: 1px solid black;
    /* box-sizing:content-box; */
    /* width: 100%; */

}

.t3d,.th3d{
    border-top: 1px solid black;
    width: 100%;
}

.sndline {
    flex-direction: column;
    display: flex;
    /* flex-flow: column; */
    /* margin: 0 auto; */
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;   
    text-align: right; 
}

.trdline {
    display: flex;
    flex-direction: column;
    /* flex-flow: column; */
    /* margin: 0 auto; */
    flex: 2;
    align-items: flex-end;
    text-align: right;

    
}

